{% extends "layout/basic.html" %}
{% load bbcode_tags %}
{% load filtertags %}
{% load thumbnail %}


{% block title %}{{ bb.title }}{% endblock %}

{% block content %}

    {% lst ', ' '1' '2' '3' '4' %}
    {% ulist '1' '2' '3' '4' %}

    <div>
        {% if bb.rubric %}
        <p>Рубрика: <a href="{% url 'bboard:by_rubric' bb.rubric.pk %}">
                                                {{ bb.rubric.name }}</a></p>
        {% endif %}

        <h2>{{ bb.title }}</h2>

        {% if bb.img %}
        <p>
            <!-- <img src="{{ bb.img.url }}" alt="{{ bb.title }}" title="{{ bb.title }}"> -->
            {# <img src="{{ bb.img|thumbnail.url: 'default' }}" alt="{{ bb.title }}" title="{{ bb.title }}"> #}
            <!-- <img src="{% thumbnail bb.img 'default' %}" alt="{{ bb.title }}" title="{{ bb.title }}"> -->
            <!-- <img src="{% thumbnail bb.img 'default' bw=True %}" alt="{{ bb.title }}" title="{{ bb.title }}"> -->
            <img src="{% thumbnail bb.img '300x200' crop='smart' %}" alt="{{ bb.title }}" title="{{ bb.title }}">
        </p>
        {% endif %}
        <!-- <p>{{ bb.content }}</p> -->

        <p>{% bbcode bb.content %}</p>
        <!-- <p>{{ bb.content|bbcode|safe }}</p> -->

        <!-- <p>Цена: <strong>{{ bb.price|floatformat:'2g' }}</strong> тг.</p> -->
        <p>Цена: <strong>{{ bb.price|cur:'руб' }}</strong></p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>

        {# {% if bb.img %} #}
            {# {% for img in imgs %} #}
                {# <div><img src="{{ img.img.url }}"></div> #}
            {# {% endfor %} #}
        {# {% endif %} #}

        <p>
            <a href="{% url 'bboard:edit' bb.pk %}">Изменить</a> |
            <a href="{% url 'bboard:delete' bb.pk %}">Удалить</a>
        </p>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Первый элемент
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Это содержимое первого элемента аккордеона.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Второй элемент
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Это содержимое второго элемента аккордеона.
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
    
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Связываем кнопку с тостом
        const toastTrigger = document.getElementById('liveToastBtn');
        const toastLiveExample = document.getElementById('liveToast');

        if (toastTrigger) {
            toastTrigger.addEventListener('click', () => {
                const toast = new bootstrap.Toast(toastLiveExample); // Создаём экземпляр тоста
                toast.show(); // Показываем тост
            });
        }
    </script>

{% endblock %}