{% extends "layout/basic.html" %}

{% block title %}Пользователи и группы{% endblock %}

{% block content %}

    <h2>Тестирование контекстного обработчика</h2>
    <h3>Все пользователи:</h3>
    <ul>
        {% for user in all_users %}
        <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
        
    {% if user_groups %}
    <h3>Ваши группы:</h3>
    <ul>
        {% for group in user_groups %}
        <li>{{ group.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Вы не состоите в группах.</p>
    {% endif %}

{% endblock %}