{% extends "layout/basic.html" %}

{% load filtertags %}

{% block title %}Управление мороженным{% endblock %}


{% block content %}

<p><b>{{ "THIS PAGE WILL BE CUT TO HALF" | cut_half }}</b></p>

<p>{{ "THIS PAGE WILL BE CUT TO HALF" | to_lower }}</p>

<p><b>{{ "THIS PAGE WILL BE CUT TO HALF" | delete_space }}</b></p>

{% split_string "Алматы, Астана, Караганды" "," as cities %}
<ul>
    {% for city in cities %}
    <li>{{ city }}</li>
    {% endfor %}
</ul>


<h1>Управление мороженым</h1>
{% if error %}
   <p style="color: red;">{{ error }}</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
            <tr>
                {# Вывод скрытых полей, таких как id #}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <td>{{ form.name.label_tag }} {{ form.name }}</td>
                <td>{{ form.content.label_tag }} {{ form.content }}</td>
                <td>{{ form.price.label_tag }} {{ form.price }}</td>
                <td>{{ form.DELETE.label_tag }} {{ form.DELETE }}</td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Сохранить</button>
</form>
{% endblock %}