{% extends 'todolist/includes/todo_base.html' %}

{% load django_bootstrap5 %}

{% block title %}Список задач{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages messagelist">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
        </li>
        {% endfor %}
</ul>
{% endif %}

    <h2>Список задач</h2>
    <ul>
        {% for task in page %}
            <li>
                {{ task.title }} - {{ task.description }} ({{ task.completed|yesno:"Выполнено,Не выполнено" }})
                <a href="{% url 'todolist:todo_delete' task.pk %}" class="btn btn-danger">Удалить</a>
                <a href="{% url 'todolist:todo_update' task.pk %}" class="btn btn-primary">Обновить</a>
            </li>

        {% empty %}
            <p>Нет задач.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'todolist:todo_create' %}">Добавить задачу</a>

    {% bootstrap_pagination page size='sm' pages_to_show=3 %}
{% endblock %}