<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Лист задач{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Лист задач</h1>
        <nav>
            <ul>
                <li><a href="{% url 'todolist:todo_index' %}">Главная</a></li>
                <li><a href="{% url 'todolist:todo_list' %}">Список задач</a></li>
                <li><a href="{% url 'todolist:todo_create' %}">Добавить задачу</a></li>
                <li><a href="{% url 'todolist:img_list' %}">Список файлов</a></li>
                <li><a href="{% url 'todolist:upload_img' %}">Добавить файл</a></li>
                <li><a href="{% url 'todolist:doc_list' %}">Список документов</a></li>
                <li><a href="{% url 'todolist:upload_doc' %}">Добавить документ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>