{% extends 'todolist/includes/todo_base.html' %}

{% load django_bootstrap5 %}

{% block title %}Список задач{% endblock %}

{% block content %}


    <h2>Список задач</h2>
    <ul>
        {% for task in page %}
            <li>
                {{ task.title }} - {{ task.description }} ({{ task.completed|yesno:"Выполнено,Не выполнено" }})
                <a href="{% url 'todolist:todo_delete' task.pk %}" class="btn btn-danger">Удалить</a>
                <a href="{% url 'todolist:todo_update' task.pk %}" class="btn btn-primary">Обновить</a>
            </li>

        {% empty %}
            <p>Нет задач.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'todolist:secure_task' %}">Подписать задачу</a>
    <a href="{% url 'todolist:todo_create' %}">Добавить задачу</a>

    {% bootstrap_pagination page size='sm' pages_to_show=3 %}

    <!-- Кэширование списка задач -->
     <script>
    document.addEventListener("DOMContentLoaded", function () {
        const taskList = document.getElementById("task-list");

        // Проверяем LocalStorage
        let cachedTasks = localStorage.getItem("todo_list");

        if (cachedTasks) {
            taskList.innerHTML = cachedTasks; // Загружаем данные из кэша
        } else {
            fetch('/todolist/todo_list/') // Загружаем с сервера
            .then(response => response.text())
            .then(data => {
                taskList.innerHTML = data;
                localStorage.setItem("todo_list", data); // Сохраняем в LocalStorage
            });
        }
    })
     </script>
    
    <ul id="task-list">
        {% for task in tasks %}
            <li>{{ task.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}