{% load cache %}


{#{% cache 300 navbar %}#}
{#{% cache 30 navbar request.user.is_authenticated %}#}
{% cache 30 navbar request.user.is_authenticated request.user.username %}
<nav>
    
    {% if user.is_authenticated %}
        <a href="{% url 'bboard:index' %}">Главная</a>
        <a href="{% url 'bboard:add' %}">Добавить</a>
        <a href="{% url 'bboard:rubrics' %}">Рубрики</a>
        <a href="{% url 'bboard:user_info' user.id %}">Информация о пользователе</a>
        <a href="{% url 'bboard:context_user_groups' %}">Тест контекстного обработчика</a>
        <!-- <a href="{% url 'todolist:upload_img' %}">Добавить картинку в задачи</a> -->
        <!-- <a href="{% url 'todolist:upload_doc' %}">Добавить файл в задачи</a> -->

        <form action="{% url 'bboard:logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Выход" class="btn btn-link btn-lg">
        </form>
        {% endif %}
        <hr>
        {% for rubric in rubrics %}
            <a href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric.name }}
                ({{ rubric.cnt }})</a>
        {% endfor %}
</nav>

{% endcache %}