<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    {% bootstrap_css %}
{#    <link rel="stylesheet" href="{{ css_url }}">#}
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
        <div class="container">
            <a class="navbar-brand" href="#">bboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Объявления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% include "layout/inc/inc_header.html" %}
    

    <main class="flex-grow-1">
        <section class="container mt-4">
            <div class="row">
                <!-- Левая колонка (Рубрики) -->
                <div class="col-md-3">
                    {% block sidebar %}
                    {% include "layout/inc/inc_main_menu.html" %}
                    {% endblock %}
                </div>
                <!-- Правая колонка (Объявления) -->
                <div class="col-md-9">
                    {% block content %}
                    <p>Содержимое базового шаблона</p>
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
    
    <!-- Footer -->
    {% block footer %}
    <footer class="bg-light text-center text-lg-start mt-auto">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 bboard_pyd_241 <a class="text-dark" href="https://yourwebsite.com/">bboard.com</a>
        </div>
    </footer>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}

</body>
</html>